<%= partial "partials/_head" %>
<%= partial "partials/_header" %>
<%= partial "partials/_nav" %>
    
    <article class="blog post">
      <h1 class="hed"><%= data.page.title %></h1>
      <%= yield %>

      <aside>
        <h4>Recent Articles</h4>
        <ol>
          <% blog.articles[0...10].each do |article| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
          <% end %>
        </ol>
        <h4>By Year</h4>
        <ol>
          <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
            <li><%= link_to year, blog_year_path(year) %> (<%= articles.size %>)</a></li>
          <% end %>
        </ol>
      </aside>
    </article>

<%= partial "partials/_footer" %>
<%= partial "partials/_foot" %>
