<div class="v-home">

<article class="about">

  <section class="standout vision">

    <h1>A conference for front-end developers and designers that love Sass and
      are passionate about building a better, more beautiful web.
    </h1>

    <h2><%= link_to 'Apply to Speak!', '/speaking' %></h2>

  </section>

  <section class="intro">
    <div class="sizzle" id="sizzle">
      <iframe src="//player.vimeo.com/video/90602247?title=0&amp;byline=0&amp;portrait=0&amp;color=ff006a&amp;autoplay=0&amp;loop=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <p>We are a group of awesomely talented and creative front-end developers,
      designers, and web enthusiasts coming together for three days of
      talks, workshops, and panels on the best CSS preprocessor
      — <strong>Sass</strong> — in electric
      <%= link_to 'New York City', '/pages/nyc-primer' %>.</p>

    <p>We may not have created the web, but we work passionately to advance it
      and make better tools for front-end developers and designers so we can
      build and style more awesome sites for all.
    </p>
  </section>

  <section class="overview">
    <h1>Workshops, Talks, Code. Oh so Sassy!</h1>

    <ul class="schedule keynote">
      <% data.speakers.year_2014.keynote.each do |f| %>
      <li class="session <%= f.type %>">
        <img src="<%= f.photo %>" alt="<%= f.photo_alt %>">
        <h3 class="speaker"><%= f.name %></h3>
        <h3 class="occupation"><%= f.occupation %></h3>
      </li>
      <% end %>
    </ul>

    <ul class="details">
      <% data.overview.year_2014.each do |f| %>
      <li>
        <% if f.link %>
          <h3><a href="<%= f.link %>"><%= f.title %></a></h3>
        <% else %>
          <h3><%= f.title %></h3>
        <% end %>
        <p><%= f.description %>
          <% if f.url %>
            <% f.url.each do |u| %>
                <a href="<%= u.href %>"><%= u.title %></a>
            <% end %>
          <% end %>
        </p>
      </li>
      <% end %>
    </ul>
  </section>

  <section class="cfp">

    <h1>
      <strong><%= link_to 'Speak at SassConf 2014!', '/speaking' %></strong>
      <span>Deadline May 30th</span>
    </h1>

    <div class="standout">
      <p>
        We're looking for designers, developers, artists, experience aficionados,
        engineers, rascals, and all that love and are obsessed with the Sass
        and the medium of the web.
        From veterans to novices,
        <%= link_to 'we want to hear from you', '/speaking' %>.
      </p>

      <p>
        <small>On the fence? We've got some pretty sweet
        <%= link_to 'speaker perks', 'speaking/#perks' %>
        lined up this year. </small>
      </p>

    </div>
    <p>
      Have questions or looking for feedback?
      <%= link_to 'Sign up for a time to chat with us', 'http://ohours.org/sassconf' %> or checkout our
      <%= link_to 'submission guidelines', '/speaking' %>.
    </p>
  </section>
</article>

<section id="what-people-are-saying" class="reviews">
  <h1>What are people saying?</h1>
  <%= partial "partials/_reviews" %>
</section>


<article class="on-sale" id="buy-now">
  <h1>Get tickets. Don't miss out this year.</h1>
  <p>
    Your ticket gets you full admission to the conference,
    including keynotes, workshops, talks, and community day. Plus admission to
    opening reception, main conference party, and closing fiesta.
  </p>
  <p>We are committed to do our best to
    <%= link_to 'help anyone make it to Sass Conf', 'https://sassconf.wufoo.com/forms/sv0cmcw0ehtwqd/' %>.
  <p>
  <script src="https://ticketbud.com/assets/widget.js" type="text/javascript"></script>
  <div id="ticketbud-widget" data-event-url="https://sassconf2014.ticketbud.com/sassconf-2014/externaljs"></div>
  <p class="ticket-terms"><em><%= link_to 'Need to cancel or transfer your ticket?', 'pages/refund-policy' %></em></p>
  <h2>An open community</h2>
  <p>
    Sass Conf is open to all. We're dedicated to a
     <%= link_to 'harassment-free', 'code-of-conduct.html' %> and enjoyable
     conference experience for everyone.
  </p>
</article>


<article class="contact">
  <section id="updates" class="updates">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://Sassconf.us5.list-manage1.com/subscribe/post?u=3a8cdc2c932e9e39b71ad40fa&amp;id=bbb1e76d11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div class="mc-field-group">
            <label for="mce-EMAIL">Get Sass Conf updates:</label><br>
            <input type="email" value="" placeholder=
            "Email Address" name="EMAIL" class="required email" id="mce-EMAIL" required>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
  </section>

</article>

</div>
