<div class="speakers">

<article class="about">


  <section class="overview">
    <h1>2014 Speakers</h1>

    <h2>2014 Keynotes</h2>
    <ul class="new_schedule keynote">
      <% data.speakers.year_2014.keynote.each do |f| %>
      <li class="session <%= f.type %>">
        <div class="images">
          <div class="speaker-image">
            <img src="<%= f.photo %>" alt="<%= f.photo_alt %>">
          </div>
        </div>
        <h3 class="speaker"><%= f.name %></h3>
        <h3 class="occupation"><%= f.occupation %></h3>
      </li>
      <% end %>
    </ul>

    <h2>2014 Presentations</h2>
    <ul class="new_schedule talks">
      <li class="session talk">
        <div class="title">
          <h1>Yo CSS</h1>
        </div>
        <div class="images">
          <div class="speaker-image"><img src="/lib/img/speakers/elyseholladay.jpg" alt="Side portrait of Tab Atkins Jr."></div>
        </div>
        <div class="settion__details">
          <div class="people">
            <div class="person">
              <h3 class="speaker">Elyse Holladay</h3>
              <h3 class="occupation">UI Architect at IBM Watson</h3>
            </div>
          </div>
          <div class="description">
            <p>Yeoman is a powerful scaffolding tool, but we often only think about it to scaffold out a website. But Yeoman generators can be written to scaffold out just about anything, from common CSS files to advanced Sass partial structures!</p>
          </div>
        </div>
      </li>

      <li class="session talk">
        <div class="title">
          <h1>Thinking inside the box inside the box inside the box</h1>
        </div>
        <div class="images">
          <div class="speaker-image"><img src="/lib/img/speakers/rachelnabors.jpg" alt="Side portrait of Tab Atkins Jr."></div>
          <div class="speaker-image"><img src="/lib/img/speakers/masonwendell.jpg" alt="Side portrait of Tab Atkins Jr."></div>
        </div>
        <div class="settion__details">
          <div class="people">
            <div class="person">
              <h3 class="speaker">Rachel Nabors</h3>
              <h3 class="occupation">UI Architect at IBM Watson</h3>
            </div>
            <div class="person">
              <h3 class="speaker">Mason Wendell</h3>
              <h3 class="occupation">Senior Developer at Phase2</h3>
            </div>
          </div>
          <div class="description">
            <p>Yeoman is a powerful scaffolding tool, but we often only think about it to scaffold out a website. But Yeoman generators can be written to scaffold out just about anything, from common CSS files to advanced Sass partial structures!</p>
          </div>
        </div>
      </li>
    </ul>

  </section>




</div>
