<article class="venue">
	<h1>Scholastic Auditorium</h1>
	<h3>557 Broadway, New York, NY 10012</h3>

	<div class="venue-map">
		<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=scholastic+auditorium&amp;fb=1&amp;gl=us&amp;hq=scholastic+auditorium&amp;hnear=0x89c24fa5d33f083b:0xc80b8f06e177fe62,New+York,+NY&amp;cid=0,0,5745950823002065201&amp;ll=40.723993,-73.998302&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe>
	</div>

	<section>
		<h1>Nestled in the heart of SoHo. Convenient access to all of New York City.</h1>
		<p>Scholastic Auditorium is <strong>located near the 7 train lines</strong>: <span class="nqr">Prince St. N, R</span>, <span class="bdfm">Broadway/Lafayette B,D,F,M</span>, and the <span>Spring St. 6/span>. Stay in <%= link_to 'SoHo', 'https://www.airbnb.com/locations/new-york/soho'%>, <%= link_to 'Nolita', 'https://www.airbnb.com/locations/new-york/nolita' %>, <%= link_to 'NoHO', 'https://www.airbnb.com/locations/new-york/noho' %>, <%= link_to 'West Village', 'https://www.airbnb.com/locations/new-york/west-village' %>, <%= link_to 'Greenwich', 'https://www.airbnb.com/locations/new-york/greenwich' %>, or <%= link_to 'Tribeca', 'https://www.airbnb.com/locations/new-york/tribeca' %> to be a short walk away. Or explore nearby neighborhoods just a short train or Citi Bike ride away.</p>

		<p><strong>Checkout our <%= link_to 'NYC Primer', '/pages/nyc-primer' %> for more recommendations and tips.</strong></p>

		<h3>Train Notices</h3>
		<p>We'll update this soon with any relavant service changes.</p>


		<h4>Neighborhoods we'd seek out if we were coming to the city</h4>
		<p>Awesome neighborhood guides by <%= link_to 'AirBnB', 'http://airbnb.com' %> our personal favorite for finding accommodations in New York City.</p>

	  <table>
	  	<thead>
	  		<tr>
	  			<td></td>
	  			<td>Distance</td>
	  		</tr>
	  	</thead>
	    <% data.venue.neighborhoods.each do |f| %>
	    <tr>
	      <td><a href="<%= f.link %>"><%= f.name %></a></td>
	      <td><%= f.distance %></td>
	    </tr>
	    <% end %>
	  </table>

	  <p>Not our favorites, but you can get to and from the conference with ease: <a href="https://www.airbnb.com/locations/new-york/kips-bay">Kips Bay</a>, <a href="https://www.airbnb.com/locations/new-york/upper-east-side">Upper East Side</a>, <a href="https://www.airbnb.com/locations/new-york/times-square-theatre-district">Times Square/Theatre District</a>, <a href="https://www.airbnb.com/locations/new-york/financial-district">Financial District</a>.</p>

	 </section>

	<div class="accomodation">
		<a href="https://www.airbnb.com/s/New-York--NY?checkin=10%2F12%2F2013&checkout=10%2F13%2F2013&source=bb">
			<img src="/lib/img/airbnb-logo.jpg" alt="Airbnb"><br>
			<h4>Find rooms on Airbnb</h4>
		</a>
	</div>


	<div class="accomodation">
			<h4>Personal Touch</h4>
			<p>Overwhelmed by the options? Need a helping hand? Let us know. We can't make hotels any cheaper, but we can provide you with personal touch.<a href="mailto:info@Sassconf.com">Let us help you with your travel plans.</a>
</p>
		</a>
	</div>


	</article>
</div>
